.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #151515;
  color: #fff;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonBox button {
  padding: 0.25rem 1rem;
  cursor: pointer;
}
