.door {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--door-width);
  height: var(--door-height);
  background: #d2691e;
}

.doorNumber {
  font-size: 3rem;
}
